<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.ifpen.fr/filter"
            class="fr.ifpen.emptooling.filter.FilterPackage"
            genModel="model/filter.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="fr.ifpen.emptooling.filter.resource.FilterResourceFactory"
            type="filter">
      </parser>
   </extension>

</plugin>
